@model IEnumerable<AppUser>

@{
    ViewData["Title"] = "Admin";
}

<h2>Admin Page</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<h4>User Accounts</h4>

<table class="table">
    <tr><th>ID</th><th>Name</th><th>Email</th></tr>
</table> 
