@model TheDeepOTools.Models.RepairTicketItemViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>RepairTicket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Item</label>
                <select asp-for="Title"
                        asp-items="@(new SelectList(Model.ListItems, "Value", "Text"))">
                </select>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea style="resize:none" asp-for="Description" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="TicketState" class="form-control" value="Open" type="hidden" />
                <span asp-validation-for="TicketState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="OwnerId" class="form-control" value="@UserManager.GetUserAsync(User).Result." type="hidden"/>
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Owner" class="form-control" value="@UserManager.GetUserAsync(User).Result.FirstName" type="hidden"/>
                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
